@{
    ViewBag.Title = "About";
}
@*<div class="container">*@
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h2 class="bg-primary text-white p-1 pl-3  mt-4" style="text-align:right;">SAROJ SEVA SANSTHAN ABOUT US</h2>
    </div>
    <div class="container">
        <div class="row jumbotron">
            <div class="col-lg-6 float-left">
                <img class="img-thumbnail" style="max-width: 370px; width: 100%;" src="~/Content/Gallery/Picture10.jpg" />
            </div>
            <div class="col-lg-6 float-right">
                <b> Saroj Seva Sansthan</b> , Baghnocha has been established in the fond memory of LateSmtSaroj Devi, wife of Late <b>ShriDinanath Thakur</b>. Late SmtSaroj Devi was born in 1948 at Vill - Khojpur, District - Madhubani in the heart of Mithilanchal in Bihar.  She got married at the age of seventeen to ShriDinanath Thakur,Vill - Baghnocha, District -Vaishali in Bihar.  He was employed as a Bus Driver in the State Transport Department of Government of Bihar.
            </div>
        </div>

    </div>
</div>
<div class="row bg-dark mb-4" style="padding:30px;margin:10px,auto;color:white;">
    <div class="col-lg-6 float-left">
        On 08 Jul 1974 at midnight while driving his Bus full of approximately fifty passengers from Bokaro to Giridih he confronted with approximately ten Naxlitesin the heart of jungle, when they tried to force him to stop the Bus in order to loot the passengers.  These Naxlites had boarded the Bus as passengers.  Without caring of his own safety he drove the Bus at a very high speed to move out of the jungle.  But one of the Naxzlites shot a Revolver at his head from a very close range.  While breathing his last at the steering also he ensured that the Bus stopped safely on the main road, thereby saving lives of all the passengers on board.
    </div>
    <div class="col-lg-6 float-right">
        SmtSaroj Devi was just 26 years old when she became widow.  Her eldest daughter Mamta was eight years old and two sons namely Manmohan Thakur and Lalmohan Thakur were four years and four months old respectively.  She received a one-time compensation of Rs 8000 (Rupees eight thousand only) from the State Government of Bihar.  Her life was full of struggle thereafter.
    </div>
</div>
<div class="container">
    <div class="row jumbotron">
        <div class="col-lg-4 float-left">
            With her sheer dedication, hard work and the kind support of her family members, relatives and the Society she brought up her children and ensured good education to them.  Both her sons today are Officers in Army and CISF in the service to the nation.  Her daughter also got married to a Civil Servant ShriParmanandJha in the State Government of Bihar.  She made a great achievement in spite of all the difficulties and poverty in her life. Agriculture was the only source of survival.
        </div>
        <div class="col-lg-8 float-right">
            <img class="float-md-right float-sm-none m-md-3 img-thumbnail" style="max-width: 370px; width: 100%;" src="~/Content/Gallery/Picture20.jpg" />
            Her journey of life is a source of inspiration to the villagers and the society.  She was a religious lady who spent all her time looking after her household and bringing up the children.  Her Mother in Law SmtPratima Devi, wife of Late ShriBhagwanDutt Thakur was paralysed in bed for seven years from 1982 to 1989 whom she took care of in an exemplary manner.
        </div>
    </div>
</div>
<div class="row bg-dark mb-4" style="padding:30px;margin:10px,auto;color:white;">
    <div class="col-lg-4 float-left">

        <div>
            When all her three children got settled and her time to reap the fruits came, she passed away at the age of 64, leaving all her children aggrieved.  The entire village and the society mourned and paid their condolences to the departed soul.
        </div>
    </div>
    <div class="col-lg-8 float-right">
        <div>
            To maintain the sanctity of the place where she struggled throughout her life, a multipurpose building with a Hall and two rooms has been constructed to establish ‘SarojSevaSansthan’ in her loving memory by her children.  The same was inaugurated on 22 Oct 2017 by ShriSantosh Kumar Nirala, Honourable Minister of Transport, Bihar alongwith Guests of HonourShriUmesh Singh Kushwaha, MLA Mahnar, Maj Gen Surinder Singh Mamak, GOC Jharkhand and Bihar Sub Area and Lt Col Omprakash from DanapurCantt.TheSansthan has been registered under Indian Society Act 1860 and dedicated towardsupliftment of Education and Healthcare in the Society forever.
        </div>
    </div>
</div>
<div class="container">
    <div class="row jumbotron">
        <div class="col-lg-6 float-left">
            <img class="img-thumbnail" style="width: 100%;" src="~/Content/Gallery/Picture12.jpg" />
            <br />
            The Sansthan extends open invitation to the people of all age groups to come and share their knowledge of their field with the needy so that all round development takes place in the Society.
        </div>
        <div class="col-lg-6 float-right">
            The following facilities are being planned at the Society.
            <ol type="A">
                <li>Library</li>
                <li>Coaching Facilities.</li>
                <li>Health Care</li>
                <li>Women Empowerment.</li>
                <li>Care for disabled.</li>
                <li>Old age home</li>
                <li>Care for Childless couple.</li>
                <li>Education for girls</li>
                <li>Orphanage</li>
                <li>Environment protection</li>
                <li>Agriculture development</li>
                <li>Music and Cultural activities</li>
                <li>Religious Activities</li>
                <li>Marriage Venue</li>
                <li>Other Social activities</li>
            </ol>
        </div>
    </div>
</div>
<div class="row bg-dark mb-4" style="padding:30px;margin:10px,auto;color:white;">
    <div class="col-lg-12">
        <h2 class="h2">PRESENT ARRANGEMENTS</h2>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 float-left">
        The following activities have started at the Sansthan after the Inauguration Ceremony.
        <ol type="a">
            <li>Library</li>
            <li>Classes from Nursery to class VIII</li>
            <li>Games and sports to include Cricket, Football, Badminton and Athletics</li>
            <li>LED TV</li>
            <li>Guest Lectures for villagers</li>
            <li>Medical Camps time to time</li>
        </ol>
    </div>
    <div class="col-lg-6 float-left">
        <div>
            The village is just fifty Km away from the Capital City Patna.  Yet till recent years it was deprived of basic facilities like Road and Electricity. With the initiativeof SarojSevaSansthanBaghnocha, the quality of Educationand Health has started improving and the village will become a role model in times to come.
        </div>
    </div>
</div>
