@{
    ViewBag.Title = "Home Page";
}

<div class="sleekslider">
    <!-- Slider Pages -->
    <div class="slide active bg-1">
        <div class="slide-container">
            <div class="slide-content">
                <h1 class="bg-primary text-white pl-2 pr-2">PROVIDING URBAN FACILITIES IN THE RURAL AREAS</h1>
            </div>
        </div>
    </div>
    <div class="slide bg-2">
        <div class="slide-container">
            <div class="slide-content">
                <h1 class="bg-info text-white pl-2 pr-2">GIVING BACK TO THE SOCIETY</h1>
            </div>
        </div>
    </div>
    <div class="slide bg-3">
        <div class="slide-container">
            <div class="slide-content">
                <h1 class="bg-danger text-white pl-2 pr-2">SPECIAL FOCUS ON GIRLS EDUCATION</h1>
            </div>
        </div>
    </div>
    <div class="slide bg-4">
        <div class="slide-container">
            <div class="slide-content">
                <h1 class="bg-secondary text-white pl-2 pr-2">HEALTH CARE FACILITIES</h1>
            </div>
        </div>
    </div>
    <div class="slide bg-5">
        <div class="slide-container">
            <div class="slide-content">
                <h1  class="bg-info text-white pl-2 pr-2">EXTENDING HELPING HAND TO THE HELPLESS</h1>
            </div>
        </div>
    </div>


    <!-- Pagination -->
    <nav class="pagination">
        <span class="current"></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </nav>
</div>


<div class="row">
    <div class="container">
        <div class="jumbotron  pt-4">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h2 class="text-center">
                    PROVIDING URBAN FACILITIES IN THE RURAL AREAS
                </h2>
                <hr />
                <p>
                    Inspired by the Book written by Dr APJ Abdul Kalam namely Providing Urban Facilities In The Rural Areas Founder of Saroj Seva Sansthan, Lt Col Manmohan Thakur spent his hard earned money to create Urban Facilities in his Remote Village Baghnocha, Vaishali in Bihar, in the fond memory of his Late Mother  Smt Saroj Devi. The multipurpose Community Hall is equipped with the following infrastructure.
                </p>
                <ol>
                    <li>
                        Hall with Vitrified Tiles and concrete roof with Capacity of 300 persons.
                    </li>
                    <li>
                        Two Rooms for office and Computer Room.
                    </li>
                    <li>
                        Modern Furniture for children.
                    </li>
                    <li>
                        LED TV.
                    </li>
                    <li>
                        Books from Delhi Schools and Coaching Centres.
                    </li>
                    <li>
                        Electricity Fans and Inverter.
                    </li>
                    <li>
                        Sports facilities in the Campus.
                    </li>
                </ol>
                <p>
                    There is a need to curb migration of people from Villages to the Cities which are overcrowded. If all the facilities of Cities are made available in the Villages, people will prefer staying in villages, as nature is more environment friendly in rural areas as compared to the Cities and Towns.
                </p>
            </div>
        </div>
    </div>
    </div>
    <div class="row bg-dark">
        <div class="container">
            <div class="text-white pt-4 pb-4">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h2 class="text-right">GIVING BACK TO THE SOCIETY</h2>
                    <hr style="border-top:1px solid #ccc;" />
                    <p>
                        <img class="float-md-right float-sm-none m-md-2 mt-md-0 img-thumbnail" style="max-width: 370px; width: 100%;" src="~/Content/Images/GIVING_BACK.jpg" />
                        It is quite disheartening to see that people once move to the Cities, disconnect themselves from the Society and Village they belong to.  As a result the people who supported them during their struggle period do not receive any things back from them.  Their contribution is forgotten.  This step is to reconnect with the Root where we belong to.  Our village needs guidance and support.  Innocent children do not know how to go about studies and make a Career.  It is our moral responsibility to guide them, teach them and help them achieve their Goal. It will help us achieve Overall development of our Society and Nation as a whole.
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="jumbotron  pt-4">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h2>SPECIAL FOCUS ON GIRLS EDUCATION</h2>
                    <hr style="border-top:1px solid #ccc;" />
                    <p>
                        <img class="float-md-left float-sm-none m-md-2 mt-md-0 img-thumbnail" style="max-width: 370px; width: 100%;" src="~/Content/Images/SPECIAL_FOCUS.png" />
                        Saroj Seva Sansthan Baghnocha has special focus on Girls Education. In Village girls are not able to go for higher Education due to lack of facilities and threat of personal Security.  The Sansthan is planning to buy a Mini Bus with the capacity of 25 seats.  All the Girls and desirous women after having breakfast will board the bus at around 0800h along with their Packed Lunch.  Hajipur and Patna City are just 1½ hours away.  They will attend the classes in the respective Colleges from 10 am to 4 pm as applicable.  After attending their classes they will come back to their home in the same bus before the last light. The Driver and Conductor of the Bus will be one of the family members of College going girls. Women College authority and the Police department will be approached to help us out to ensure safety and security of the Girls and Women enroute and at College Campus.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row bg-dark">
        <div class="container">
            <div class="text-white pt-4 pb-4">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h2 class="text-right">HEALTH CARE FACILITIES</h2>
                    <hr style="border-top:1px solid #ccc;" />
                    <p>
                        <img class="float-md-right float-sm-none m-md-2 mt-md-0 img-thumbnail" style="max-width: 370px; width: 100%;" src="~/Content/Images/HEALTH_CARE_1.png" />
                        Generally people are careless about their health in villages. They are not aware what to eat what not to eat in case of any disease. Most of the diseases can be prevented/curbed just by regular exercises and walk. The Sansthan conducts Medical Camp time to time to conduct free check up. Any villager with serious disease are provided with all the support to seek treatment at Patna, Ranchi and Delhi depending upon their problems and availability of treatment. In future a full time Primary Healthcare Centre is  being planned to be established.
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        </div>
    <div class="jumbotron  pt-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h2>EXTENDING HELPING HAND TO THE HELPLESS</h2>
                    <hr style="border-top:1px solid #ccc;" />
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card">
                        <img class="card-img-top" src="~/Content/Images/CareTaker.png">
                        <div class="card-body text-center">
                            <h5 class="card-title">Smt Urmila Devi, Care Taker</h5>
                            <hr />
                            <p class="card-text text-justify">
                                The Sansthan on the very First Day extended helping hand to Smt Urmila, a widow aged 25 Years, wife of Late Bir Chandra Rai, who died while being operated upon by an unauthorized Doctor three years ago at Hajipur, leaving behind his three children aged 7 Years, 5 Years and 3 Years. The Widow has been employed as care taker and her children are being provided free education by the Sansthan including clothing and books.
                            </p>
                            <a href="#" class="btn btn-primary">Read More..</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card">
                        <img class="card-img-top" src="~/Content/Images/CareTaker_Julie.png">
                        <div class="card-body  text-center">
                            <h5 class="card-title">Smt Julie Devi, Care Taker</h5>
                            <hr />
                            <p class="card-text text-justify">
                                Another widow, Julie 27 Years wife of Late Rakesh Kumar Patel, Baghnocha has also been given a job at Sansthan. Her two children are also being provided free education including clothing and books.
                            </p>
                            <a href="#" class="btn btn-primary">Read More..</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card">
                        <img class="card-img-top" src="~/Content/Images/Science_Teacher.png">
                        <div class="card-body text-center">
                            <h5 class="card-title">Miss Shivani, Science Teacher</h5>
                            <hr />
                            <p class="card-text text-justify">
                                Miss Shivani lost her father a few years ago. She has been employed as a Teacher. All helps are being rendered to her to make her pursue higher Education.
                                <br />
                                Similarly, many needy people are being supported by Saroj Seva Sansthan. All these efforts will bring back the smiles on their faces in times to come.
                            </p>
                            <a href="#" class="btn btn-primary">Read More..</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>