
@{
    ViewBag.Title = "Mission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="container">
    <div class="img-thumbnail mt-4">*@
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h2 class="bg-primary text-white p-1 pb-lg-1" style="text-align:right;">VISION &amp; MISSION</h2>
    </div>
</div>
<div class="row">
    <div class="container-fluid jumbotron">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h3>
                PROVIDING URBAN FACILITIES IN THE RURAL AREAS
            </h3>
            <div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div>
                   Inspired by the Book written by Dr APJ Abdul Kalam namely Providing Urban Facilities In The Rural Areas Founder of Saroj Seva Sansthan, Lt Col Manmohan Thakur spent his hard earned money to create Urban Facilities in his Remote Village Baghnocha, Vaishali in Bihar, in the fond memory of his Late Mother  Smt Saroj Devi.  The multipurpose Community Hall is equipped with the following infrastructure.
                    </div>
                </div>
                <div>
                    <ul>
                        <li>Hall with Vitrified Tiles and concrete roof with Capacity of 	300 	persons</li>
                        <li>Two Rooms for office and Computer Room.</li>
                        <li>Modern Furniture for children.</li>
                        <li>LED TV.</li>
                        <li>Books from Delhi Schools and Coaching Centres.</li>
                        <li>Electricity Fans and Inverter.</li>
                        <li>Sports facilities in the Campus.</li>
                    </ul>
                </div>
                <div>
                    There is a need to curb migration of people from Villages to the Cities which are overcrowded.  If all the facilities of Cities are made available in the Villages, people will prefer staying in villages, as nature is more environment friendly in rural areas as compared to the Cities and Towns.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row bg-dark">
    <div class="container  mt-4 mb-4">
        <div class="col-lg-12 col-md-12 col-sm-12" style="color:white;">
            <h3>
                GIVING BACK TO THE SOCIETY
            </h3>
            <div>
                <div>
                    It is quite disheartening to see that people once move to the 	Cities, disconnect themselves from the Society and Village they belong to.  As a result the people who supported them during their struggle period do not receive any things back from them.  Their contribution is forgotten.  This step is to reconnect with the Root where we belong to.  Our village needs guidance and support.  Innocent children do not know how to go about studies and make a Career.  It is our moral responsibility to guide them, teach them and help them achieve their Goal. It will help us achieve Overall development of our Society and Nation as a whole.

                    @*<img src="~/Content/Gallery/Picture28.jpg" />*@
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container-fluid jumbotron">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h3>
                SPECIAL FOCUS ON GIRLS EDUCATION
            </h3>
            <div>
                <div>

                    @*<img src="~/Content/Gallery/Picture32.jpg" />*@
                    Saroj Seva Sansthan Baghnocha has special focus on Girls 	Education.  In Village girls are not able to go for higher Education due to lack of facilities and threat of personal Security.  The Sansthan is planning to buy a Mini Bus with the capacity of 25 seats.  All the Girls and desirous women after having breakfast will board the bus at around 0800h along with their Packed Lunch.  Hajipur and Patna City are just 1½ hours away.  They will attend the classes in the respective Colleges from 10 am to 4 pm as applicable.  After attending their classes they will come back to their home in the same bus before the last light. The Driver and Conductor of the Bus will be one of the family members of College going girls. Women College authority and the Police department will be approached to help us out to ensure safety and security of the Girls and Women enroute and at College Campus.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row bg-dark">
    <div class="container  mt-4 mb-4">
        <div class="col-lg-12 col-md-12 col-sm-12" style="color:white;">
            <h3>
                HEALTH CARE FACILITIES
            </h3>
            <div>
                <div>
                    @*<img src="~/Content/Gallery/Picture9.jpg" />*@
                    Generally people are careless  about their health in villages. They are not 	 aware what to eat what not to eat in case of any disease. Most of the diseases can be prevented/ curbed just by regular exercises and walk. The Sansthan conducts Medical Camp time to time to conduct free check up. Any villager with serious disease are provided with all the support to seek treatment at Patna, Ranchi and Delhi depending upon their problems and availability of treatment.  In future a full time Primary Healthcare Centre is  being planned to be established.
                </div>
            </div>
        </div>
    </div>
</div>

@*</div>
    </div>*@
