@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutHI.cshtml";
}
@*<div class="container">*@
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h2 class="bg-primary text-white p-1 pl-3  mt-4" style="text-align:right;">SAROJ SEVA SANSTHAN ABOUT US</h2>
    </div>
    <div class="container">
        <div class="row jumbotron">
            <div class="col-lg-6 float-left">
                <img class="img-thumbnail" style="max-width: 370px; width: 100%;" src="~/Content/Gallery/Picture10.jpg" />
            </div>
            <div class="col-lg-6 float-right">
                <b> सरोज सेवा संस्थान बघनोचा</b> , की  स्थापना  श्रीमती  सरोज  देवी  धर्मपत्नी  स्वर्गीय दीनानाथ ठाकुर 		की पुण्य स्मृति में की गयी है | श्रीमती सरोज देवी का जन्म सन १९४८ में बिहार स्थित मधुबनी जिला के खोजपुर गाँव में हुआ | सत्रह साल की अवस्था में उनका विवाह वैशाली जिले के बघनोचा ग्राम निवासी श्री दीनानाथ ठाकुर संग हुआ | स्वर्गीय दीनानाथ ठाकुर बिहार राज्य पथ परिवहन निगम में एक बस चालक के रूप में कार्यरत थे |
            </div>
        </div>

    </div>
</div>
<div class="row bg-dark mb-4" style="padding:30px;margin:10px,auto;color:white;">
    <div class="col-lg-6 float-left">
        ०८ जुलाई १९७४ की मध्यरात्रि में लगभग पचास यात्रियों से भरी बस को लेकर गिरिडीह के जंगल से गुजर रहे थे कि अचानक कुछ नक्सलियों ने जो पहले से बस में संवार थे, बस को बीच जंगल में रोकने को कहा | स्थिति को भांपते हुए श्री दीनानाथ ठाकुर ने बस को रोकने से इंकार कर दिया और तेजी से बस को चलाते रहे | एक नक्सली ने अपना रिवाल्वर उनके सिर पर लगाकर उनपर दवाव डालने की कोशिश की | उन्होंने अपनी जान की परवाह किये बिना, बस को तेज़ी से जंगल पार कराने में जुट गए, क्योंकि जंगल पार करते ही गिरिडीह पुलिस थाना मौजूद था | नक्सलियों में से कुछ जो जंगल में पहले से मौजूद थे, उन्होंने सड़क के ऊपर लकड़ी के कुंदे लगा रखे थे | श्री दीनानाथ ठाकुर ने दो बार कुंदो को पार कर लिया था | जैसे ही तीसरे कुंदे को पार कर रहे थे कि नक्सली ने गोली चला दी | श्री दीनानाथ ठाकुर ने चालक की सीट पर ही दम तोड़ दिया | लेकिन उस अंतिम क्षण में भी उन्होंने उस बस को सही सलामत रोका जिससे किसी भी यात्री को कोई नुकसान नहीं हुआ | कर्तव्यपरायणता का एक सर्वश्रेष्ठ मिशाल उन्होंने मरते दम तक पेश किया |
    </div>
    <div class="col-lg-6 float-right">
        श्रीमती सरोज देवी मात्र २६ वर्ष की अवस्था में विधवा हो गयीं | उनकी तीनो संतान ममता कुमारी ०८ वर्ष, मनमोहन ठाकुर ०४ वर्ष एवं लालमोहन ठाकुर मात्र ०४ महीने के थे | दुखों का पहाड़ टूट पड़ा | बिहार सरकार की तरफ से मात्र आठ हजार रूपये की एक मुश्त राशि मिली | लेकिन सरोज देवी हिम्मत नहीं हारीं | अपनी लकवाग्रस्त सास की सेवा करते हुए, तीनों बच्चों का पालन पोषण कृषि के बल पर इस तरह से किया कि उनके बड़े पुत्र मनमोहन ठाकुर थल सेना में अधिकारी बने, छोटे पुत्र लालमोहन ठाकुर केंद्रीय औधौगिक सुरक्षा बल में अधिकारी बने तथा बिटिया ममता का विवाह एक राजपत्रित अधिकारी संग हुआ | पूरे गाँव एवं समाज के लिए यह परिवार एक मिशाल बन गया | जब उनके जीवन में खुशहाली लौटी, तब अचानक ही १२ फरवरी २०१२ को मात्र ६४ वर्ष की अवस्था में श्रीमती सरोज देवी इस दुनिया से चल बसीं | पूरा परिवार, समाज एवं गाँव शोकग्रस्त हो गया |
    </div>
</div>
<div class="container">
    <div class="row jumbotron">
        <div class="col-lg-4 float-left">
            उनकी संघर्षमयी जिंदगी की सार्थकता को बरकरार रखने हेतु एवं समाज एवं सगे सम्बन्धियों का योगदान जिसकी वजह से उनका परिवार एक अच्छे मुकाम तक पहुँचा है, को प्रेरणाश्रोत बनाने हेतु अपने पारिवारिक खर्च के बल पर एक सामुदायिक भवन का निर्माण उनकी संतानों ने उसी जगह पर किया जहाँ उनकी संघर्षमयी जिंदगी बीती थी | सरोज सेवा संस्थान बघनोचा की स्थापना २२ अक्टूबर 2017 को बिहार राज्य  के वैशाली जिला स्थित एक छोटे से गाँव बघनोचा में हुई | मुख्य अतिथि श्री संतोष कुमार निराला, परिवहन मंत्री बिहार सरकार के कर कमलों द्वारा संस्थान का उद्घाटन हुआ जिसमें विशिष्ट अतिथि के रूप में महनार विधानसभा क्षेत्र के विधायक श्री उमेश सिंह कुशवाहा और अतिविशिष्ट अतिथि, झारखंड एवं बिहार सब एरिया के जी. ओ. सी. मेजर जनरल सुरिन्दर सिंह मामक तथा लेफ्टिनेन्ट कर्नल ओम प्रकाश, मौजूद थे | भारी तादाद में बघनोचा एवं आस-पास के गाँव के लोग वहाँ मौजुद थे |
        </div>
        <div class="col-lg-8 float-right">
            <img class="float-md-right float-sm-none m-md-3 img-thumbnail" style="max-width: 370px; width: 100%;" src="~/Content/Gallery/Picture20.jpg" />
            शिक्षा  एवं  स्वास्थ्य  के प्रति समर्पित  सरोज  सेवा  संस्थान बघनोचा का  पंजीकरण भारतीय  सामाजिक धारा १८६० के तहत १३ फरवरी २०१८ को  किया   गया | इस भवन का इस्तेमाल आने वाले दिनों में निम्नलिखित कार्यो के लिए किया जायेगा |
        </div>
    </div>
</div>
<div class="container">
    <div class="row jumbotron">
        <div class="col-lg-6 float-left">
            <img class="img-thumbnail" style="width: 100%;" src="~/Content/Gallery/Picture12.jpg" />
            <br />
            The Sansthan extends open invitation to the people of all age groups to come and share their knowledge of their field with the needy so that all round development takes place in the Society.
        </div>
        <div class="col-lg-6 float-right">
            The following facilities are being planned at the Society.
            <ol type="A">
                <li>पुस्तकालय </li>
                <li>शैक्षणिक सुविधा</li>
                <li>स्वास्थ्य सुविधा </li>
                <li>महिलाओं के लिए प्रशिक्षण कार्यक्रम</li>
                <li>विकलांग बच्चों की सहायता कार्यक्रम</li>
                <li>अनाथ बच्चों की देखभाल</li>
                <li>वृद्धा सेवा एवं वृद्धाश्रम</li>
                <li>नि:संतान दम्पत्तियों की सेवा</li>
                <li>बालिकाओं के लिए शिक्षा व्यवस्था</li>
                <li>विवाह स्थल</li>
                <li>पूजा पाठ एवं प्रार्थना सभा</li>
                <li>पर्यावरण संरक्षण</li>
                <li>कृषि विकास कार्यक्रम</li>
                <li>संगीत एवं सांस्कृतिक क्रिया कलाप</li>
                <li>अन्य सामाजिक क्रिया कलाप</li>
            </ol>
        </div>
    </div>
</div>
<div class="row bg-dark mb-4" style="padding:30px;margin:10px,auto;color:white;">
    <div class="col-lg-12">
        <h2 class="h2">PRESENT ARRANGEMENTS</h2>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 float-left">
        उद्घाटन समारोह के साथ ही संस्थान में पुस्तकालय की सुविधा उपलब्ध करा दी गयी | साथ ही एल. ई. डी. टेलीविजन एवं आधुनिक स्तर के बेंच, डेस्क तथा फर्नीचर की व्यवस्था कर दी गयी | कक्षा नर्सरी से लेकर आठवीं वर्ग के छात्रों के लिए योग्य शिक्षकों की मदद से पढाई की प्रक्रिया शुरू कर दी गयी है | लगभग ७५ बच्चे इस सुविधा का लाभ उठा रहे है | इन बच्चों को शहर में मिलने वाली सुविधाएँ उपलव्ध करायी जा रही है |.
        <ol type="a">
            <li>Library</li>
            <li>Classes from Nursery to class VIII</li>
            <li>Games and sports to include Cricket, Football, Badminton and Athletics</li>
            <li>LED TV</li>
            <li>Guest Lectures for villagers</li>
            <li>Medical Camps time to time</li>
        </ol>
        खेलकूद की विशेष व्यवस्था की गयी है जिसमे क्रिकेट, फुटबॉल, बैडमिंटन, लूडो, कैरमबोर्ड, रस्सी कूद इत्यादि शामिल है |
    </div>
    <div class="col-lg-6 float-left">
        <div>
            स्वास्थ्य सुविधा हेतु चिकित्सा शिविर समय-समय पर लगाया जा रहा है| राजधानी पटना से मात्र पचास किलोमीटर दूर रहते हुए भी बघनोचा गाँव हाल तक सरकारी सुविधाओं से वंचित रहा | सड़क निर्माण लगभग पांच साल पहले एवं बिजली का आगमन तीन साल पहले हुआ है | इस संस्थान के खुलने से पूरे गाँव एवं आसपास के गाँव में एक आशा की किरण दिखाई दी है | आने वाले दिनों में इस संस्थान के माध्यम से गाँवों में शिक्षा एवं स्वास्थ्य के स्तर को काफी बढ़ावा मिलेगा, ये संस्थान का दृढ संकल्प है |
        </div>
    </div>
</div>
