
@{
    ViewBag.Title = "Enquiry";
    Layout = "~/Views/Shared/_LayoutHI.cshtml";
}

    <div class="container">
        <div class="img-thumbnail ContactForm mt-4">
            <div id="Enquiry" class="pb-4">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h2 class="bg-primary text-white p-1 pl-3">ENQUIRY FORM</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-12">
                        <div class="img-thumbnail pl-3 pr-3" style="font-size: 13px;min-height: 485px;background-color: #ffffffc4;">
                            @*<form action="/Home/Contact" id="contact" enctype="multipart/form-data" method="post" accept-charset="utf-8">
            <fieldset>
                <legend><h5>SAROJ SEVA SANSTHAN ENQUIRY</h5></legend>
                <div class="form-group has-info">
                    <label class="control-label">Name</label>
                    <input type="text" id="txtName" name="txtName" value="" class="form-control " placeholder="Enter full name" required="">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group has-info">
                    <label class="control-label">Mobile No</label>
                    <input type="number" name="txtMobileNo" id="txtMobileNo" value="" class="form-control" maxlength="10" placeholder="Enter mobile" required="">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group has-info">
                    <label class="control-label">Email Id</label>
                    <input type="email" name="txtEmailID" id="txtEmailID" value="" class="form-control " placeholder="Enter email" required="">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group has-info">
                    <label class="control-label">Father's Name</label>
                    <input type="text" id="txtFatherName" name="txtFatherName" value="" class="form-control " placeholder="Enter full name" required="">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group has-info">
                    <label class="control-label">Father's Mob. No</label>
                    <input type="number" name="txtFatherMobNo" id="txtFatherMobNo" value="" class="form-control" maxlength="10" placeholder="Enter mobile" required="">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group has-info">
                    <label class="control-label">Address</label>
                    <input type="email" name="txtAddress" id="txtAddress" value="" class="form-control " placeholder="Enter email" required="">
                    <div class="clearfix"></div>
                </div>
                <div class="form-group has-info">
                    <label class="control-label">Subject</label>
                    <textarea name="txtMessage" id="txtMessage" rows="3" class="form-control" placeholder="Enter your message" required=""></textarea>
                    <div class="clearfix"></div>
                </div>
                <div class="row-fluid">
                    <div style="text-align:center;">
                        <button type="submit" class="btn btn-primary btn-social "> <i class="fa fa-share-square-o" aria-hidden="true"></i> SUBMIT </button>
                    </div>
                </div>
            </fieldset>
        </form>*@
                            @Html.Partial("_EnquiryView")
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <script src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript">
        $("#txtMobileNo").keydown(function (event) {
            k = event.which;
            if ((k >= 96 && k <= 105) || k == 8) {
                if ($(this).val().length == 10) {
                    if (k == 8) {
                        return true;
                    } else {
                        event.preventDefault();
                        return false;
                    }
                }
            } else {
                event.preventDefault();
                return false;
            }
        });
    </script>

    <script type="text/javascript">
        $("#txtFatherMobNo").keydown(function (event) {
            k = event.which;
            if ((k >= 96 && k <= 105) || k == 8) {
                if ($(this).val().length == 10) {
                    if (k == 8) {
                        return true;
                    } else {
                        event.preventDefault();
                        return false;
                    }
                }
            } else {
                event.preventDefault();
                return false;
            }
        });
    </script>
</div>