
@{
    ViewBag.Title = "Invitation";
    Layout = "~/Views/Shared/_LayoutHI.cshtml";
}

<div class="container">
    <div class="img-thumbnail mt-4">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h2 class="bg-primary text-white p-1 pl-3">INVITATION</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="img-thumbnail">
                    <h4 class="text-center">
                        INVITATION FOR FIRST ANNIVERSARY AS ON 22 OCT 2018<br />
                        AS THE CHIEF GUEST
                    </h4>
                    <h5 class="pl-2 pr-2">Dear Sir,</h5>
                    <ol>
                        <li>
                            I am writing this letter to extend our invitation for the Ist Anniversary of SarojSevaSansthanBaghnocha which was established and inaugurated on 22 Oct 2017.
                        </li>
                        <li>
                            We are planning to celebrate the occasion by organising a Seminar. Speakers from various fields to include Education, Health, Agriculture and Career Management will be presenting their views from 1000h to 1400h on 22 Oct 2018.The detailed programme is mentioned at Appx ‘A’
                        </li>
                        <li>
                            May I request you to kindly accept our invitation and grace the occasion as the<b> “Chief Guest” at 1000h on 22 Oct 2018.</b>
                        </li>
                    </ol>
                    <p class="pl-2 pr-2">Thanking you.</p>
                    <p class="text-right pl-2 pr-2">Yours Sincerely</p>
                    <p class="text-right pl-2 pr-2">(Manmohan Thakur)</p>
                    <p class="pl-2 pr-2"><b>Enclosure:-</b> As Above</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="img-thumbnail mt-3">
                    <h4 class="text-center">
                        APPX ‘A’ I<sup>st</sup> ANNIVERSARY PROGRAMME AS ON 22 OCT 2018 <br />
                        AT SAROJ SEVA SANSTHAN BAGHNOCHA<br />
                        DIST – VAISHALI, BIHAR
                    </h4>
                    <table class="table table-bordered">
                        <tr>
                            <td class="p-1">1.</td>
                            <td class="p-1">Arrival of Chief Guest </td>
                            <td class="p-1">-</td>
                            <td class="p-1">1000h</td>
                        </tr>
                        <tr>
                            <td class="p-1">2.</td>
                            <td class="p-1">Welcome speech/Song	</td>
                            <td class="p-1">-</td>
                            <td class="p-1">1000h – 1010h</td>
                        </tr>
                        <tr>
                            <td class="p-1">3.</td>
                            <td class="p-1">Felicitation</td>
                            <td class="p-1">-</td>
                            <td class="p-1">1010h – 1015h</td>
                        </tr>
                        <tr>
                            <td class="p-1">4.</td>
                            <td class="p-1">Seminar Commences</td>
                            <td class="p-1">-</td>
                            <td class="p-1">1015h</td>
                        </tr>
                        <tr>
                            <td class="p-1">5.</td>
                            <td class="p-1">Agriculture</td>
                            <td class="p-1">-</td>
                            <td class="p-1">1020h – 1050h</td>
                        </tr>
                        <tr>
                            <td class="p-1">6.</td>
                            <td class="p-1">Education</td>
                            <td class="p-1">-</td>
                            <td class="p-1">1055h – 1125h</td>
                        </tr>
                        <tr>
                            <td class="p-1">7.</td>
                            <td class="p-1">Health</td>
                            <td class="p-1">-</td>
                            <td class="p-1">1130h – 1200h</td>
                        </tr>
                        <tr>
                            <td class="p-1">8.</td>
                            <td class="p-1">Speech by the Chief Guest</td>
                            <td class="p-1">-</td>
                            <td class="p-1">1205h – 1235h</td>
                        </tr>
                        <tr>
                            <td class="p-1">9.</td>
                            <td class="p-1">Career management</td>
                            <td class="p-1">-</td>
                            <td class="p-1">1240h – 1310h</td>
                        </tr>
                        <tr>
                            <td class="p-1">10.</td>
                            <td class="p-1">Miscellaneous Subjects</td>
                            <td class="p-1">-</td>
                            <td class="p-1">1315h – 1445h</td>
                        </tr>
                        <tr>
                            <td class="p-1">11.</td>
                            <td class="p-1">Vote of Thanks</td>
                            <td class="p-1">-</td>
                            <td class="p-1">1345h – 1400h</td>
                        </tr>
                    </table>
                    <p class="pl-2 pr-2">* Refreshments in between the Seminar.</p>
                    <p class="pl-2 pr-2">* Lunch at 1400h.</p>
                </div>
            </div>
        </div>
    </div>
    </div>