
@{
    ViewBag.Title = "Mission";
    Layout = "~/Views/Shared/_LayoutHI.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h2 class="bg-primary text-white p-1 pb-lg-1" style="text-align:right;">VISION &amp; MISSION</h2>
    </div>
</div>
<div class="row">
    <div class="container-fluid jumbotron">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h3>
                शहरी सुविधा गाँवों  में उपलब्ध कराना
            </h3>
            <div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div>
                        डॉ ए॰ पी॰ ज़े॰ अब्दुल कलाम की पुस्तक “ Providing Urban Facilities in Rural Areas” से प्रभावित होकर सरोज सेवा  संस्थान बघनोचा के संस्थापक लेफ्टिनेंट कर्नल मनमोहन ठाकुर ने अपने मेहनत की कमाई से अपने गाँव बघनोचा में बहुउद्देशीय भवन का निर्माण किया I जिसमें  निम्नलिखित सुविधायें उपलब्ध करायी गयी है I
                    </div>
                </div>
                <div>
                    <ul>
                        <li>लगभग ३०० लोगों के बैठने की क्षमता वाला हॉल</li>
                        <li>दो कमरे ऑफिस एवं कंप्यूटर कक्षा के लिए</li>
                        <li>आधुनिक फर्नीचर</li>
                        <li>एल॰ ई॰ डी॰ टेलिविजन</li>
                        <li>नर्सरी से स्नातक तक तथा प्रतियोगी परीक्षाओं की पुस्तकें</li>
                        <li>बिजली, पंखे, इन्वर्टर</li>
                        <li>खेलकूद की सुविधायें</li>
                    </ul>
                </div>
                <div>
                    इस बात की आवश्यकता है कि गाँवों से शहर की ओर पलायन को रोका जाये, कयोंकि शहरों में आबादी काफ़ी घनी हो चुकी है I  अगर शहर में मिलने वाली सुविधाओं को गाँव  मे उपलब्ध करा दी जाए तब स्वयं पलायन रुकने लगेगा I लोग  गाँव  में रहना ज्यादा पसंद करेंगे कयोंकि गाँव का वातावरण शहर की अपेक्षा ज्यादा शुद्ध है I
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row bg-dark">
    <div class="container  mt-4 mb-4">
        <div class="col-lg-12 col-md-12 col-sm-12" style="color:white;">
            <h3>
                समाज को वापस दें
            </h3>
            <div>
                <div>
                    यह बहुत ही दुर्भाग्यपूर्ण है कि लोग एक बार शहर चले जातें है फिर गाँव वापस नहीं आते I अपने समाज से अलग हो जाते हैं I परिणामस्वरूप जिस समाज ने उन्हें उनके लक्ष्य प्राप्ति में मदद की, उस समाज को वापस कुछ नहीं मिलता I उनके योगदान को भुला दिया जाता है I सरोज  सेवा संस्थान बघनोचा का प्रयास है समाज से लोगों को वापस जोड़ना I हमारे गाँवों में लोगों को मार्ग दर्शन एवं सहयोग की जरुरत है I निर्दोष एवं भोले भाले बच्चों को पढ़ाई के महत्व का एहसास नहीं है I जीविका कैसे पाना है इसका ज्ञान नहीं है I ये हमारी नैतिक जिम्मेवारी है कि उन्हें मार्गदर्शन प्रदान करें ताकि वे भी अपने लक्ष्य की प्राप्ति कर सकें I इसी से पुरे समाज एवं देश का विकास संभव होगा I
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container-fluid jumbotron">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h3>
                बालिकाओं की शिक्षा पर विशेष जोर
            </h3>
            <div>
                <div>

                    सरोज  सेवा संस्थान बघनोचा महिलाओं की शिक्षा पर विशेष ध्यान रखता है I गाँवों में बालिकाएँ एवं महिलाएँ उच्च शिक्षा प्राप्त नहीं कर पाती हैं असुविधा एवं असुरक्षा की वजह से I संस्थान एक बस खरीदने की योजना बना रहा है जिसमें २५ सीटें हो I बालिकाएँ एवं महिलागण जो उच्च शिक्षा ग्रहण करना चाहती हैं सुबह का नास्ता करके साथ में दोपहर का खाना टिफ़िन में लेकर बस में लगभग आठ बजे बैठेंगी, लगभग दस बजे तक अपने कॉलेज में हाजीपुर या पटना पहुँच जाएँगीI शाम को क्लास की समाप्ति पर लगभग चार बजे वापस उसी बस में प्रस्थान करेंगी I सूर्यास्त से पहले अपने घर पहुँच जाएँगी I बस का चालक एवं सहचालक उन्हीं बालिकाओं  के घर के सदस्य होंगे I कॉलेज प्रशासन एवं पुलिस विभाग उस बस को विशेष सुरक्षा आश्वस्त करेगी ताकि बालिकाएँ एव महिलाएँ सुरक्षित महसूस कर सकें I
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row bg-dark">
    <div class="container  mt-4 mb-4">
        <div class="col-lg-12 col-md-12 col-sm-12" style="color:white;">
            <h3>
                स्वास्थ्य सुविधा
            </h3>
            <div>
                <div>
                    आमतौर पर गाँवों में लोग अपने स्वास्थ्य के प्रति लापरवाही बरतते हैं I खाने-पीने में क्या लेना चाहिए क्या नहीं इसकी परवाह किये बिना अपने स्वास्थ्य के साथ खिलवाड़ करते हैं I आधे से अधिक बिमारियाँ सिर्फ खान-पान में लापरवाही की वजह से होती है I व्यायाम करना या पैदल चलना ही बहुत सारी बिमारियों को दूर कर देता है I सरोज  सेवा संस्थान समय-समय पर डॉक्टर बुलाकर लोगों के स्वास्थ्य को चेक अप कराने की कोशिश करता है I साथ ही लोगों में खान-पान एवं रहन-सहन के प्रति जागरूक करता है I आनेवाले समय में प्राथमिक चिकित्सा केन्द्र की स्थापना की जाएगी ताकि लोगों के स्वास्थ्य की सही देखभाल हो सके I
                </div>
            </div>
        </div>
    </div>
</div>
