
@{
    ViewBag.Title = "Vision";
    Layout = "~/Views/Shared/_LayoutHI.cshtml";
}

<div class="container">
    <div class="img-thumbnail mt-4">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h2 class="bg-primary text-white p-1 pl-3">VISION</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">

            </div>
        </div>
    </div>
    </div>